-- =====================================
-- CONFIGURACIÓN INICIAL
-- =====================================

SET search_path TO public;

-- =====================================
-- TABLAS
-- =====================================

CREATE TABLE categorias (
    id SERIAL PRIMARY KEY,
    nombre VARCHAR(100) NOT NULL UNIQUE,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

CREATE TABLE companies (
    id SERIAL PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    email VARCHAR(255),
    phone VARCHAR(50),
    address TEXT,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

CREATE TABLE roles (
    id SERIAL PRIMARY KEY,
    name VARCHAR(100) NOT NULL
);

CREATE TABLE users (
    id SERIAL PRIMARY KEY,
    company_id INTEGER,
    role_id INTEGER,
    name VARCHAR(255) NOT NULL,
    email VARCHAR(255) UNIQUE NOT NULL,
    password TEXT NOT NULL,
    active BOOLEAN DEFAULT true,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    last_login TIMESTAMP,
    FOREIGN KEY (company_id) REFERENCES companies(id),
    FOREIGN KEY (role_id) REFERENCES roles(id)
);

CREATE TABLE clients (
    id SERIAL PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    phone VARCHAR(20),
    email VARCHAR(100),
    address TEXT,
    company_id INTEGER,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    active BOOLEAN DEFAULT true,
    FOREIGN KEY (company_id) REFERENCES companies(id)
);

CREATE TABLE productos (
    id SERIAL PRIMARY KEY,
    codigo VARCHAR(50) UNIQUE,
    nombre VARCHAR(150) NOT NULL,
    precio NUMERIC(10,2) NOT NULL,
    costo NUMERIC(10,2),
    stock INTEGER DEFAULT 0,
    stock_minimo INTEGER DEFAULT 0,
    descripcion TEXT,
    imagen VARCHAR(255),
    estado BOOLEAN DEFAULT true,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    categoria_id INTEGER,
    FOREIGN KEY (categoria_id) REFERENCES categorias(id)
);

CREATE TABLE sesiones_pos (
    id SERIAL PRIMARY KEY,
    usuario_id INTEGER,
    fecha_inicio TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    fecha_cierre TIMESTAMP,
    estado VARCHAR(20) DEFAULT 'abierta',
    total_vendido NUMERIC(10,2) DEFAULT 0,
    dinero_contado NUMERIC(10,2),
    monto_inicial NUMERIC(10,2) DEFAULT 0
);

CREATE TABLE ventas (
    id SERIAL PRIMARY KEY,
    sesion_id INTEGER,
    total NUMERIC(10,2),
    fecha TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    estado_pago VARCHAR(20) DEFAULT 'pagado',
    monto_pagado NUMERIC(10,2) DEFAULT 0,
    cliente_id INTEGER,
    metodo_pago VARCHAR(20) NOT NULL,
    fecha_limite_pago DATE,
    estado VARCHAR(20) DEFAULT 'activa',
    FOREIGN KEY (cliente_id) REFERENCES clients(id),
    FOREIGN KEY (sesion_id) REFERENCES sesiones_pos(id)
);

CREATE TABLE detalle_ventas (
    id SERIAL PRIMARY KEY,
    venta_id INTEGER,
    producto_id INTEGER,
    cantidad INTEGER,
    precio NUMERIC(10,2),
    subtotal NUMERIC(10,2),
    FOREIGN KEY (venta_id) REFERENCES ventas(id),
    FOREIGN KEY (producto_id) REFERENCES productos(id)
);

CREATE TABLE pagos_credito (
    id SERIAL PRIMARY KEY,
    venta_id INTEGER,
    cliente_id INTEGER,
    monto NUMERIC(10,2),
    metodo_pago VARCHAR(20),
    fecha TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (venta_id) REFERENCES ventas(id),
    FOREIGN KEY (cliente_id) REFERENCES clients(id)
);

CREATE TABLE movimientos_caja (
    id SERIAL PRIMARY KEY,
    sesion_id INTEGER NOT NULL,
    tipo VARCHAR(20) NOT NULL,
    monto NUMERIC(10,2) NOT NULL,
    descripcion TEXT,
    fecha TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (sesion_id) REFERENCES sesiones_pos(id) ON DELETE CASCADE
);

-- =====================================
-- DATOS INICIALES
-- =====================================

INSERT INTO roles (id, name) VALUES
(1, 'super_admin'),
(2, 'admin'),
(3, 'employee');

INSERT INTO companies (id, name, email, phone, address)
VALUES
(1, 'Aceitera Rodriguez', 'aceiterarodirugez@ar.com', '55555555', 'Mataquescuintla');

INSERT INTO users (company_id, role_id, name, email, password, active)
VALUES
(1, 1, 'Super Admin', 'admin@ar.com', '$2b$10$wJERHtEFvuDl3wdiZoBUm.e0RLuNZ7HdrqmZU5vJ/2Uavm4xUeuQq', true);